<div class="container">
    <div class="wrapper p-5 m-5">
      <div class="d-flex p-2 justify-content-between mb-1">
        <h2>Les Produits</h2>
        <div><a routerLink="/create-product"><i class="fa fa-plus"></i></a></div>
      </div>
      <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Prix</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.nom}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>
                <div class="d-flex p-3 justify-content-evently mb-2 gap-3">
                    <i class="fa fa-trash-o text-danger" (click)="deleteProduct(product.id)"></i>
                    <i class="fa fa-pencil text-success" (click)="updateProduct(product.id)"></i>
                </div>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
